:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 800px;
}

header {
  display: flex;
  justify-content: space-between;

  .btn-logout {
    background-color: #f44336;
    color: #fff;
    text-transform: inherit;
  }
}

.todo-list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 0.5rem;
  overflow-y: auto;
  padding: 0.5rem;
  background: #ededed;
  border-radius: 0.3rem;
  box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.4);
}
