<header>
  <h1 class="title">Todo list</h1>
  <button class="btn btn-logout" title="Se déconnecter" (click)="logout()">Se déconnecter</button>
</header>

<app-todo-form></app-todo-form>

<section class="todo-list">
  <ng-container *ngIf="(todoService.todos$ | async)?.length; else empty">
    <app-todo-item
      *ngFor="let todo of todoService.todos$ | async"
      [todo]="todo"
    ></app-todo-item>
  </ng-container>
  <ng-template #empty>
    <p>Aucune tâche à faire</p>
  </ng-template>
</section>
