@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  font-family: "Montserrat", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  cursor: pointer;
}

.btn {
  border: none;
  background: white;
  padding: 0.7rem 1rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 0.3rem;
  box-shadow: 0 4px 4px -4px rgb(0 0 0 / 40%);
}
